.login {
    background-color: #92B4EC;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jalnan';
    /* margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    color: #adaeb9;
    display: grid;
    grid-template-columns: minmax(150px, 1fr) 2fr;
    grid-gap: 20px;
    text-decoration: none;
    color: inherit;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025); */
  }

  .container{
    width: 250px;
    height: 250px;
    margin: auto;
    display: flex;
    align-items: center;
  }

  .box {
    float: left;
    width: 250px;
    height: 250px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login_woori {
    margin: auto;
    position: absolute;
    animation: doodoodoongjang 4s;
  }

  .login_bus {
    position: absolute;
    animation: bus 6s, vibration 0.2s infinite;
    opacity: 0;
  }

  @keyframes bus {
    0% {
      margin-left: 400%;
      opacity: 1;
      
    }

    25% {
      margin-left: 0%;
      opacity: 1;
    }

    50% {
      margin-left: 0%;
      opacity: 1;
    }

    75% {
      margin-left: 0%;
      opacity: 1;
    }

    100% {
      margin-left: -400%;
      opacity: 1;
      
    }
  }

  @keyframes doodoodoongjang {
    0% {
      opacity: 0;
    }

    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @keyframes vibration {
    0% {
      transform: rotate(2deg);
    }
    50% {
      transform: rotate(-2deg);
    }
    100% {
      transform: rotate(2deg);
    }
  }
  
  .pjt_name{
    margin: 0;
    font-size: 60px;
    font-weight: 700;
    text-decoration: none;
    color: #FFFFFF;
  }

  .button {
    animation: btn 6s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @keyframes btn{
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
    }
  }

  .kakao_btn {
    background-image: url("/src/images/kakao_login_large_narrow.png");
    background-repeat: no-repeat;
    background-size : auto;
    margin: 10px auto;
    /* padding: -10px; */
    color: transparent;
    width: 340px;
    height: 90px; 
  }
  
  .main_button {
    background-image: url("/src/images/kakao_login_large.png");
    background-repeat: no-repeat;
    background-size : cover;
    margin: 10px auto;
    /* padding: -10px; */
    color: transparent;
    width: 500px;
    height: 90px; 
  }

  .sub_button {
    font-size: 12px;
    color: #2c2c2c;
  }
  
  .login_items {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }