.main{
    font-family: 'Jalnan';
    display: flex;
    width: "100vw";
    height: "100vh"
}

.ChatBot {
    position: fixed;
}

.detail {
    margin-left: 450px;
}

.font-apply{
    font-family: 'Jalnan';
}

.right {
    width: 100vh;
    height: 100vh;
}