.main{
    font-family: 'Jalnan';
    display: grid;
    grid-template-columns: 390px auto;
    width: "100vw";
    height: "100vh";
    grid-gap: 10px;
}

.ChatBot {
    /* position: fixed; */
}

.right {
    padding: 5%;
}

.detail {
    /* padding: 10px; */
}

.popular {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
}

.logout_button {
    background-color: #ffeb00;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    height: 49px;
    line-height: 49px;
    min-width: 222px;
}

.font-apply{
    font-family: 'Jalnan';
}