.recommendation {
  margin: 10px;
  background-color: white;
  width: 200px;
  margin-bottom: 70px;
  font-weight: 300;
  padding: 20px;
  border-radius: 5px;
  color: #111;
  display: flex;
  text-decoration: none;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
  
  .recommendation_img {
    top: -50px;
    max-width: 150px;
    width: 100%;
    margin-right: 30px;
  }

  .recommendation_box {
    display: flex;
    justify-content: space-between;
  }
  
  .recommendation__title,
  .recommendation__year {
    margin: 0;
    font-weight: 300;
    text-decoration: none;
  }
  
  .recommendation__title a {
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
    text-decoration: none;
  }

  .recommendation_btn {
    background-color: #92B4EC;
    border: none;
  }
